/.gradle/
/.gradle-user-home/
/build/
/.idea/
/run/
/.claude/
/repo/
/logs/
/.vscode/
/.eclipse/
/user_jvm_args.txt
/*.log
/VERSIONING.md
/todo.md
/logo.png
/.aider*
/plans
/tools/translate_lang.py
/fix.bat
/sync_lang.py
