# ================= Gradle / Build =================
.gradle/
build/

# ================= IntelliJ IDEA =================
.idea/

# ================= Minecraft =================
run/
user_jvm_args.txt

# ================= Logs =================
*.log
logs/

# ================= Local Documentation =================
VERSIONING.md
todo.md
/logo.png
/.vscode/
/.eclipse/configurations/Client.launch
/.eclipse/configurations/Data.launch
/.eclipse/configurations/GameTestServer.launch
/.eclipse/configurations/Server.launch
